body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

h1{
    margin-bottom: 20px;
}

input[type="text"]{
    width: 170px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
button{
    padding: 10px 20px;
    border: none;
    background-color: cadetblue;
    color: #fff;
    border-radius: 5px ;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover{
    background-color: rgb(17, 75, 78);
}

ul{
    list-style-type: none;
    padding: 0;
}
li{
    background-color: #fff;
    padding: 10px;
    border: 1 px solid #ddd;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
}